In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Data/Pharmacy/C3.csv')

In [3]:
df.head()

,date,time,itemname,packunits,expiry,price,looseqty
0,1/7/2022,0:02,PEDITRAL (LEMON) ORS SACHET,1,7/5/24,18.00,1
1,1/7/2022,0:03,SPIROMIDE 20MG TAB,20,2/8/24,6.31,3
2,1/7/2022,0:03,CARLOV 6.25MG TAB(30'S),30,8/1/25,7.83,2
3,1/7/2022,0:03,NEXUM 40MG CAP,14,10/1/24,34.29,2
4,1/7/2022,0:04,SPIROMIDE 20MG TAB,20,2/8/24,6.31,8

In [4]:
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')

In [5]:
df.head()

,date,time,itemname,packunits,expiry,price,looseqty
0,2022-07-01,0:02,PEDITRAL (LEMON) ORS SACHET,1,7/5/24,18.00,1
1,2022-07-01,0:03,SPIROMIDE 20MG TAB,20,2/8/24,6.31,3
2,2022-07-01,0:03,CARLOV 6.25MG TAB(30'S),30,8/1/25,7.83,2
3,2022-07-01,0:03,NEXUM 40MG CAP,14,10/1/24,34.29,2
4,2022-07-01,0:04,SPIROMIDE 20MG TAB,20,2/8/24,6.31,8

In [6]:
agg_functions = {
    'packunits': 'first',
    'expiry': 'first',
    'price': 'sum',
    'looseqty': 'sum'
}

In [7]:
combined_df = df.groupby(['date', 'itemname'], as_index=False).agg(agg_functions)

In [8]:
combined_df.head()

,date,itemname,packunits,expiry,price,looseqty
0,2022-07-01,10CC SHIFA D/SYRINGE(UNJT)(BM),100,12/12/24,30.00,6
1,2022-07-01,1CC BD SYRINGE,100,12/12/24,30.00,1
2,2022-07-01,3CC SYRINGE INJEKT,100,3/1/24,30.00,3
3,2022-07-01,ACCU CHECK LANCET (CHINA),200,12/12/24,3.00,50
4,2022-07-01,ACDERMIN GEL,1,5/1/23,278.44,1

In [9]:
combined_df['date'] = combined_df['date'].dt.strftime('%d/%m/%Y')

In [10]:
combined_df.head()

,date,itemname,packunits,expiry,price,looseqty
0,01/07/2022,10CC SHIFA D/SYRINGE(UNJT)(BM),100,12/12/24,30.00,6
1,01/07/2022,1CC BD SYRINGE,100,12/12/24,30.00,1
2,01/07/2022,3CC SYRINGE INJEKT,100,3/1/24,30.00,3
3,01/07/2022,ACCU CHECK LANCET (CHINA),200,12/12/24,3.00,50
4,01/07/2022,ACDERMIN GEL,1,5/1/23,278.44,1

In [11]:
combined_df.to_csv('../../Data/Pharmacy/C4.csv', index=False)